<form>
    <div>
        <div>
            <h1>{{title}}</h1> <br><br>
        </div><br><br>
        <div>
           <h2>{{nombre}}</h2>
        </div><br>
        <div>
            <dl>
                <ol>
                    <li><dd>Primer Item</dd><br>
                        <ul>
                            <h6><dd>Apellido:</dd></h6>
                            <ul><li>{{apellido}}</li></ul>
                            <h6><dd>Edad:</dd></h6>
                            <ul><li>{{edad}}</li></ul>
                        </ul>
                    </li><br>

                    <li><dd>Segundo Item</dd>
                        <ul>
                            <h6><dd>Peliculas:</dd></h6>
                            <ul>
                                <li>{{peliculas.primera}}</li>
                                <li>{{peliculas.segunda}}</li>
                                <li>{{peliculas.tercera}}</li>
                                <li>{{peliculas.cuarta}}</li>
                            </ul>                      
                        </ul>
                    </li>
                </ol>
            </dl><br>


            <dl>
                <td>Nombre:</td>
                <dd>{{nombre}}</dd>

                <td>Edad:</td>
                <dd>{{edad}}</dd>
                
                <td>Función:</td>
                <dd>{{obtenerNombre()}}</dd>
                
                <td>Capitalizado:</td>
                <dd>{{peliculas.primera.toUpperCase()}}</dd>
                
                <td>Pelicula Capitalizada:</td>
                <dd>{{''}}</dd>
            </dl>
        </div><br>

        <div>
            <button type="button" (click)="cambiarNombre()"> Cambiar Heroe</button>
            
            <span> {{nombre}} </span>

            <button type="button" (click)="cambiarEdad()"> Cambiar Edad</button>

            <!-- <button (click)="edad = edad + 1">Add</button>
            <span> {{edad}} </span>
            <button (click)="edad = edad">Reset </button> -->
        </div>
    </div>
</form>

