<form>
    <h1>Arreglo de Heroes</h1>
    <div>
        <dl>
            <ol>
                <li><dd>Primer Item</dd>
                    <div>
                        <ul *ngIf="heroeBorrado; else noBorrado">
                            <h5>Heroe Borrado:<small> {{ heroeBorrado }} </small></h5>
                        </ul>
                    </div><br>
                    <ng-template #noBorrado> <!--Referencias locales, esto se hace del lado del template-->
                        <ul>
                            <h5>No ha borrado nada</h5>
                        </ul>
                    </ng-template>
                    <div>
                        <ul>
                            <h6><dd>Heroes:</dd></h6>
                            <ul>
                                <li *ngFor="let heroe of heroes let i = index">{{i+1}} - {{heroe}}</li>
                            </ul>
                        </ul>
                    </div>
                    
                </li><br>

                <div>
                    <button type="button" (click)="borrarHeroe()"> Borrar</button>                    
                </div><br><br>
            </ol>
    
                <!-- <li><dd>Segundo Item</dd>
                    <ul>
                        <h6><dd>Heroes:</dd></h6>
                        No es recomendable trabajar los arreglos de esta manera del lado del cliente
                        <ul>
                            <li>{{heroes[0]}}</li>
                            <li>{{heroes[1]}}</li>
                            <li>{{heroes[2]}}</li>
                            <li>{{heroes[3]}}</li>
                            <li>{{heroes[4]}}</li>
                            <li>{{heroes[5]}}</li>
                        </ul>                      
                    </ul>
                </li> -->
        </dl><br>
    </div>
</form>
